/*清除元素默认的内外边距*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/*让所有斜体 不倾斜*/
em,
i{
    font-style: normal;
}
/*去掉列表前面的小点*/
li{
    list-style: none;
}
/*图片没有边框，去掉图片底侧的空白缝隙*/
img{
    border: 0; /*ie6*/
    vertical-align: middle;
}
/*让button按钮变成小手*/
button{
    cursor: pointer;
}
/*取消链接下划线*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}
body {
    background: url(../images/bg.jpg) no-repeat 0 0 / 
    cover; 
    /* background-size: cover; */
    /* 随着浏览器的宽度一起缩放 */
}